<p id="notice"><%= notice %></p>

<h1>Listing Twitter Calls</h1>

<table>
  <thead>
    <tr>
      <th>Handle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_calls.each do |twitter_call| %>
      <tr>
        <td><%= twitter_call.handle %></td>
        <td><%= link_to 'Show', twitter_call %></td>
        <td><%= link_to 'Edit', edit_twitter_call_path(twitter_call) %></td>
        <td><%= link_to 'Destroy', twitter_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter call', new_twitter_call_path %>
